.footer-wrapper {
    background-color: lightblue;
    margin-top: 30px;
    padding: 25px 20px 10px 20px;
}

.footer-contact-details {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 20px;
}

.follow-wrapper {
    display: flex;
    align-items: center;
    gap: 15px;
}

.footer-logo,
.footer-delivery,
.footer-newsletter {
    width: 30%
}

.footer-title {
    font-size: 20px;
}

.delivery-time p {
    margin: 2px 0;
}

.newsletter {
    padding: 7px 15px;
    border: 1px solid #212245;
    border-radius: 5px;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.newsletter-input {
    background-color: transparent;
    border: none;
    max-width: 70%;
}

.newsletter-btn {
    padding: 3px 13px;
    border: none;
    border-radius: 3px;
}

@media screen and (max-width: 685px) {
    .footer-contact-details {
        flex-direction: column;
        margin: 0;
    }

    .footer-logo,
    .footer-delivery,
    .footer-newsletter {
        width: 100%
    }

    .delivery-time {
        margin: 16px 0;
    }

    .follow-title,
    .footer-title,
    .follow-wrapper p {
        margin: 0;
    }

    .footer-title {
        font-size: 16px;
    }

    .newsletter {
        margin-bottom: 16px;
    }
}