.product-details-warpper {
    display: flex;
    align-items: flex-start;
    margin: 40px 0;
}

.product-details-img {
    max-width: 400px;
    object-fit: cover;
}

.product-details-img-slider,
.product-details-info {
    width: 50%;
}

.product-details-img-slider {
    text-align: center;
}

.product-details-info h1,
.description {
    color: #212245;
}

.product-details-info h1 {
    margin: 0;
}

.price-detais-discount-percent {
    background-color: #df2020;
    color: white;
    padding: 3px 5px;
    border-radius: 3px;
}

.product-details-pice {
    display: flex;
    gap: 25px;
    align-items: center;
}

.price-detais-discount {
    font-weight: 700;
    font-size: 30px;
    color: #df2020;
}

.price-detais {
    color: #212245;
    font-size: 25px;
    font-weight: 500;
    text-decoration: line-through;
}

.product-details-tabs-wrapper {
    display: flex;
    gap: 40px;
    border-bottom: 1px solid lightblue;
    color: #212245
}

.tab-active {
    color: #df2020;
}

.product-details-quatity-wrapper {
    width: 130px;
    background-color: lightblue;
    border-radius: 5px;
    font-weight: 700;
    font-size: 20px;
    margin: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.product-details-quatity-wrapper span {
    padding: 5px 15px;
}

@media screen and (max-width: 965px) {
    .product-details-warpper {
        flex-direction: column;
    }

    .product-details-img-slider,
    .product-details-info {
        width: 100%;
    }
}

@media screen and (max-width: 465px) {
    .product-details-img {
        max-width: 250px;
    }

    .product-details-pice {
        gap: 15px;
    }

    .price-detais-discount,
    .price-detais {
        font-size: 20px;
    }

    .product-details-quatity-wrapper {
        font-size: 16px;
    }
}